{% extends "_base.html" %}
{% block content %}
<h1>Ask a question</h1>
{% if current_user.is_authenticated() %}
<form class="question-form" action="{{url_for("post_question")}}" method="POST">
<label><div>Title: </div><input name="title"></label>
<label>
    <div>Question</div>
    <textarea name="content"></textarea>
</label>
<input type="hidden" class="tag-input" name="tags">
<input type="submit" value="Post Question">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
</form>
{% else %}
<a href="{{url_for("login")}}">Login with Facebook</a>
{% endif %}

<div class="article-content">
      
{% for question in questions %}
  <article class="question">
    <img src="http://graph.facebook.com/{{question.user.facebook_user_id}}/picture">
    <h2 class="question-title title">{{ question.title}}</h2>
    <div>
      {{ question.content }}
    </div>
    {% for tag in question.tags %}
    <div class="question-tag">
        {{tag.tag}}
    </div>
    {% endfor %}
    {% for answer in question.answers %}
    <article class="answer">
        <img src="http://graph.facebook.com/{{answer.user.facebook_user_id}}/picture">

        <div>
          {{ answer.content }}
        </div>
    </article>
    {% endfor %}
    <form class="answer-form" action="{{url_for("post_answer")}}" method="POST">
    <label>
        <div>Answer</div>
        <textarea name="content"></textarea>
    </label>
    <input type="hidden" class="tag-input" name="tags">
    <input type="submit" value="Post Answer">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="question_id" value="{{question.id}}">
    </form>

  </article>
{% endfor %}

</div>

{% endblock %}