{% extends "_articles.html" %}
{% block articles %}
    
{% if can_ask %}
    <h1>Ask a question</h1>
    {% if current_user.is_authenticated() %}
    <form class="question-form" action="{{url_for("post_question")}}" method="POST">
    <div class="form-row clearfix">
      <label class="form-label" for="title">Title: </label><input name="title">
    </div>
    <div class="form-row">
        <label class="form-label" for="content">Question:</label>
        <textarea name="content"></textarea>
    </div>
    <div class="form-row clearfix">
      <label class="form-label" for="tags">Tags: </label>
      <input type="hidden" class="tag-input" name="tags">
    </div>
    
    <div class="form-row">
      <input type="submit" value="Post Question">
    </div>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    </form>
    {% else %}
    <a href="{{url_for("login")}}">Login with Facebook</a>
    {% endif %}
{% endif %}

<div class="article-container">
  <div class="article-content">
      
    {% for question in questions %}
      <article class="question">
        <img src="http://graph.facebook.com/{{question.user.facebook_user_id}}/picture">
        <h2 class="question-title title">{{ question.title}}</h2>
        <div>
          {{ question.content }}
        </div>
        {% for tag in question.tags %}
        <a href="{{url_for("ask_tag", tag=tag)}}"class="question-tag">
            {{tag.tag}}
        </a>
        {% endfor %}
        {% for answer in question.answers %}
        <article class="answer">
            <img src="http://graph.facebook.com/{{answer.user.facebook_user_id}}/picture">

            <div>
              {{ answer.content }}
            </div>
        </article>
        {% endfor %}
        <form class="answer-form" action="{{url_for("post_answer")}}" method="POST">
        <div class="form-row">
          <label class="form-label" for="content">Answer:</label>
          <textarea name="content"></textarea>
        </div>
        <div class="form-row clearfix">
          <label class="form-label" for="tags">Tags: </label>
        <input type="hidden" class="tag-input" name="tags">
        </div>
        <div class="form-row"><input type="submit" value="Post Answer"></div>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="hidden" name="question_id" value="{{question.id}}">
        </form>

      </article>
    {% endfor %}

  </div>
</div>

{% endblock %}
