{% extends "_base.html" %}
{% block content %}
<form class="job-form" action="{{url_for("post_job")}}" method="POST">
<label class="form-item"><div>Title: </div><input name="title"></label>
<label class="form-item">
    <div>Question</div>
    <textarea name="content"></textarea>
</label>
<label class="form-item">
    <input type="hidden" class="tag-input" name="tags">
</label>
<input type="submit" value="Post Question">
<input type="hidden" name="_xsrf_token" value="{{xsrf_token()}}">
</form>
{% endblock %}