<!DOCTYPE html>
<html>
  <head>
    <title>The Stony Brook Computing Society</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css"/>
    <link href="static/css/main.css" rel="stylesheet" media="screen">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="static/images/tinylogo.png"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsing-nav-links">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href=".">
            <img class="navbar-img" src="static/images/tinylogo.png">  
            SBCS
          </a>
        </div>
        <div class="collapse navbar-collapse" id="collapsing-nav-links">
          <ul class="nav navbar-nav">
          <li>
            <a href=".">About</a>
          </li>
          <li>
            <a href="calendar">Calendar</a>
          </li>
          <li>
            <a href="announcements">Announcements</a>
          </li>
          <li>
            <a href="jobs">Job Board</a>
          </li>
          <li>
            <a href="blog">Blog</a>
          </li> 
        </ul>
          <div class="navbar-right navbar-form-container">
            <form class="navbar-form navbar-right" id="mailchimp-signup">
              <div class="form-group">
                <input id="mailchimp-signup-email" type="text" placeholder="you@example.com" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
              {% include "_mailchimp.html" %}
          </div>
        </div>
      </div>
    </div>
    {% block content %} {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/fullcalendar.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/gcal.js"></script> 
    <script src="static/js/bjqs-1.3.js"></script>
    <script src="static/js/jquery.slides.js"></script>
    <script src="static/js/bootstrap.js"></script>

     {% block javascript %} {% endblock %}
  </body>
</html>
