{% extends "_base.html" %}
{% block content %}
<div class="container top">
  <ul id="slideshow">
    <li>
      Image 1
    </li>
    <li>
      Image 2
    </li>
  </ul>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="column-image" src="static/images/bus.jpg">
        <h2>Heading</h2>
        <p>some more informational text</p>
        <a class="btn btn-info">More Info</a>
      </div>
      <div class="col-lg-4">
        <img class="column-image" src="static/images/roof.jpg">
        <h2>Heading</h2>
        <p>some more informational text</p>
        <a class="btn btn-info">More Info</a>
      </div>
      <div class="col-lg-4">
        <img class="column-image" src="static/images/pink.jpg">
        <h2>Heading</h2>
        <p>some more informational text</p>
        <a class="btn btn-info">More Info</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script>
$(function () {
  "use strict";
  $("#slideshow").slidesjs({
    width: 1000,
    height: 500,
    play: {
      interval: 5000,
      auto: true,
    }
  });
});
</script>
{% endblock %}

