{% extends "_base.html" %}
{% block content %}
  <div class="jumbotron sbcs-jumbotron">
    <div class="container">
    <h2 class="jumbotron-header">
      The Stony Brook Computing Society
    </h2>
    <p>
      This site is under construction.
    </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="column-image" src="static/images/bus.jpg">
        <h2>Heading</h2>
        <p>some more informational text</p>
        <a class="btn btn-info">More Info</a>
      </div>
      <div class="col-lg-4">
        <img class="column-image" src="static/images/roof.jpg">
        <h2>Heading</h2>
        <p>some more informational text</p>
        <a class="btn btn-info">More Info</a>
      </div>
      <div class="col-lg-4">
        <img class="column-image" src="static/images/pink.jpg">
        <h2>Heading</h2>
        <p>some more informational text</p>
        <a class="btn btn-info">More Info</a>
      </div>
    </div>
  </div>
{% endblock %}

